body{
    font-family: 'Roboto', sans-serif;
}

img{
    margin: 0 7em;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 90px;
}

.text{
    flex-basis: 400px; /*Compresses the text box*/
}

.main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
    
}

.button{
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.left{
    font-size: 24px;
    color: #F9FAF8;
    padding: 0 5em;
   
}

.right{
    font-size: 18px;
    display: flex;
    padding: 0 8px;
    gap: 16px;
    
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0 9em;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.footer{
    color: #F9FAF8;
    position:absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header, .footer{
    background-color: #1F2937;
}